.container {
    display: flex;
    margin-bottom: 30px;
  }
  
  .button {
    background-color: #fff;
    padding: 2px 30px;
    color: #000;
    cursor: pointer;
  }
  
  .number {
    padding: 0 30px;
  }